body{

margin:0;

font-family:Inter,sans-serif;

background:

linear-gradient(
135deg,
#edf2fb,
#f8f9ff
);

color:#1f2937;

}

.header{

padding:70px;

background:

linear-gradient(
135deg,
#4361EE,
#7209B7
);

color:white;

border-radius:

0 0 40px 40px;

box-shadow:

0 10px 35px
rgba(0,0,0,.2);

}

.main{

max-width:1400px;

margin:auto;

padding:35px;

}

.kpi-grid{

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(250px,1fr)
);

gap:25px;

}

.kpi-card{

background:white;

padding:30px;

border-radius:30px;

box-shadow:

0 10px 30px
rgba(0,0,0,.08);

transition:.4s;

}

.kpi-card:hover{

transform:

translateY(-10px);

}

.chart-container{

background:white;

padding:25px;

border-radius:30px;

box-shadow:

0 8px 25px
rgba(0,0,0,.08);

}

.charts-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:35px;

}

.filters{

display:flex;

gap:15px;

flex-wrap:wrap;

margin:30px 0;

}

.filters input{

padding:14px;

border:none;

border-radius:14px;

background:white;

box-shadow:

0 4px 15px
rgba(0,0,0,.05);

}

button{

background:

linear-gradient(
135deg,
#4361EE,
#7209B7
);

border:none;

color:white;

padding:

14px 22px;

border-radius:14px;

cursor:pointer;

}
.filters{

display:flex;

gap:15px;

margin-top:30px;

flex-wrap:wrap;

}


.filters input{

padding:14px;

border:none;

border-radius:15px;

background:white;

box-shadow:
0 5px 20px
rgba(0,0,0,.07);

width:220px;

}


.filters button{

padding:14px 25px;

border:none;

border-radius:15px;

background:

linear-gradient(
135deg,
#4361EE,
#7209B7
);

color:white;

cursor:pointer;

font-weight:600;

}
.table-container{

margin-top:40px;

background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 10px 25px
rgba(0,0,0,.08);

overflow:auto;

}


table{

width:100%;

border-collapse:collapse;

}


th{

padding:15px;

text-align:left;

background:#4361EE;

color:white;

}


td{

padding:12px;

border-bottom:
1px solid #eee;

}